<form id="fetch-query-form"
      (submit)="onFetchSubmission($event)"
      [formGroup]="form"
>
  <ul
    class="flex flex-col gap-y-1 p-4 h-full w-full h-full overflow-scroll-y [&_*]:hover:text-slate-50 [&_*]:hover:font-medium [&_*]:hover:bg-slate-900"
  >
    @for (simpleColDef of simpleColDefs; track $index; let i = $index) {
      <label formArrayName="fields" class="flex justify-between [&_*]:cursor-pointer">
        <input
          [formControlName]="i"
          type="checkbox"
        >
        <span>
          {{ simpleColDef.headerName }}
        </span>
      </label>
    }
    <li class="[&_*]:cursor-pointer my-2">
      <button
        class="disabled:cursor-not-allowed disabled:bg-slate-800/50 bg-slate-800 p-1 w-full"
        type="submit"
        [disabled]="!form.valid"
      >
        Fetch
      </button>
    </li>
  </ul>
</form>
